*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: sans-serif; /* Change your font family */
  }
  .bg-img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;    
  }
  .table-container{
    padding: 0 10%;
    margin: 40px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0px;
}
.table{
    width: 100%;
    border-collapse: collapse;
    
}
.table thead{
    background-color: #e95f20;
    
}
.table thead tr th{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: #dbd0c6;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
}
.table tbody{
    opacity: 0.6;
}
.table tbody tr td{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #ff7b00;
    background-color: #f3f3f3;
    padding: 8px;
    text-align: center;
    
}
.table .links{
    font-size: 14px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: rgb(245, 150, 41);
}
.table tbody tr td .uploads{
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: inline-block;
    background-color: #e95f20;
    font-weight: medium;
    color: #dbd0c6;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 14px;
    opacity: 1;
    border-radius: 20px;
    
}
.table tbody tr:last-of-type {
    border-bottom: 2px solid #e95f20;
  }
@media(max-width: 650px){
    .table thead{
        display: none;
    }
    .table,.table tbody,.table tr,.table td{
        display: block;
        width: 100%;
      }
      .table tbody td{
          height: 50px;
      }
      .table tr{
        margin-bottom: 15px;
      }
      .table tr td{
        display: flex;
        flex-direction: row-reverse;
        padding-left: 100px;
        position: relative;
        padding-right: 0;
      }
      .table td:before{
          content: attr(data-label);
          position: absolute;
          left: 0;
          width: 50%;
          padding-left: 15px;
          font-weight: 600;
          font-size: 14px;
          text-align: left;
      }
}